extends ../shared/template
block content
  .row
    .col-xs-12
      h2: a(href='/profile/edit')= user.email || 'anonymous'
  .row
    .col-xs-4
      a.thumbnail(href='#')
        img(src=user.photo)
    .col-xs-4
      table.table.table-striped
        thead
          tr
            th Email
            th Age
        body
          tr
            td= user.email
            td= user.age

block scripts
