extends ../shared/template
block content
  table#products.table.table-striped
    thead
      tr
        th Product
        th Image
        th Price
    tbody
      each product in products
        tr
          td
            form(method='post', action='/cart')
              input(type='hidden', name='productId', value=product._id)
              button.btn.btn-success(type='submit')=product.name
            product.name
          td(style='background-image:url("#{product.photo}")')
          td $#{product.money.toFixed(2)}

block scripts

